/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-fx-background-color: #333333;
}


.title{
	-fx-text-fill: #ff0000;
	-fx-border-color: #ff0000;
	-fx-alignment: center;
}

.console {
    text-area-background: #111111;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #aaaaaa;
}

.console .content {
    -fx-background-color: text-area-background;
}

.tab-label{
	-fx-text-fill: white;
}

.tab-pane{
	-fx-background: #333333;
}

.tab{
    -fx-background-color: #c10000;
    -fx-text-fill: white;
}

.tab:hover{
    -fx-background-color: #ff0000;
    -fx-text-fill: white;
}

.tab:selected{
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

.customBtn{
	-fx-background-color: #c10000;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.customBtnSelected{
	-fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-alignment: center;
}

.customBtn:hover{
	-fx-background-color: #ff0000;
    -fx-text-fill: white;
    -fx-alignment: center;
}